#table2 {
    width: 100%;
    border-collapse: collapse;
    word-break: break-word;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    overflow: hidden;
}

#table2 thead {
    background-color: #0086ff;
    color: white;
}

#table2 thead tr, #table2 tbody tr {
    display: table;
    table-layout: fixed;
    width: calc(100% - 1px);
}

#table2 tr th  {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}
#table2 tr td {
    border-bottom: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}

#table2 tbody {
    display: block;
    height: 100px;
    overflow: auto;
}

#table2 tbody::-webkit-scrollbar {
    /*width: 1px; !*纵向滚动条宽度*!*/
    /*height: 0px; !*横向滚动条宽度*!*/
    display: none;
}

#table2 tbody::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

#table2 tbody::-webkit-scrollbar-track { /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}

#table2 tbody tr:last-child td {
    border-bottom: none;
}